:root {
  --slidewidth: 620px;
}

body, html {
  background-color: #1c1c1c;
  color: white;
  font-family: sans-serif;
}

#tracks {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
}

.track_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.track_number {
  margin-right: 1rem;
  user-select: none;
}

.track_file {
  margin-left: 1rem;
}

.button {
  margin-right: 0.5rem;
  border: 2px solid white;
  padding: 0.25rem;
  cursor: pointer;
  user-select: none;
}

.button_active {
  border: 2px solid #3daee9;
}

.button:hover {
  box-shadow: 0 0 1rem currentColor;
}

#progress_container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding-left: 2rem;
  padding-top: 2rem;
  font-size: 1.4rem;
}

#progressbar {
  width: var(--slidewidth);
  margin-left: 2rem;
}

#controls {
  display: flex;
  flex-direction: row;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

#marks {
  width: var(--slidewidth);
  height: 20px;
  background-color: rgb(51, 131, 197);
  margin-left: 2rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

#marks > div {
  border: 1px solid rgb(66, 41, 90);
  display: relative;
}

.active_mark {
  background-color: #ee7575
}

.button_disabled {
  opacity: 0.7;
}

.button_disabled:hover {
  box-shadow: initial;
  cursor: initial;
}